doctype html
html(lang="ko")
  head
    title #{pageTitle} | Wetube
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body
    header
      h1=pageTitle
      nav
        ul
          li
            a(href="/videos/upload") 영상업로드
          li
            a(href="/") 홈
          li
            a(href="/search") 검색
    main
      block content
  include partials/footer.pug