extends base.pug

block content
  h4 Change Title of Video.
  form(method="POST")
    input(name="title", placeholder="Video Title", value=video.title, required)
    input(placeholder="Description", required, type="text", value=video.description, name="description")
    input(placeholder="Hashtags, 콤마를 사용하여 분리하세요.", required, type="text", value=video.hashtags.join(), name="hashtags")
    input(value="Save",type="submit")