meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
meta(http-equiv="Content-Script-Type" content="text/javascript")
meta(http-equiv="Content-Style-Type" content="text/css")
meta(name="viewport" content="width=1190")
meta(name="keywords" content="test01")
meta(name="description" content="test02")